# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
.venv
venv/
ENV/
env.bak/
venv.bak/

# Logs & Debug
debug_intranet/
*.log

# Archivos del sistema y de IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Carpetas generadas
paquete_win7/

# Paquetes y ejecutables compilados
*.zip
*.exe
*.spec

# PyInstaller
*.spec
